
@media only screen and (max-width: 1108 px){
  .wrapper{
    width:90%
  }
  *social{
    position: absolute;
    top: 82px
    right:4%;
    width: auto;

  }
  *social a{
    display: inline-block;
  }
}

@media only screen and (max-width: 900 px){
  bpdy{
    font-size: 85%
  }
  *logo h1{
    width: 35px;
    height: 35px;
  }
  *logo h2{
    font-soze: 2.2em
  }
  *social{
    top:72px;
  }
  .col-3 p {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (max-width: 800 px){
  #navbar nav a{
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 750 px){
  .col-1, .col-2, .col-3{
    width: 100%;
    margin-left: 0;
    float: none;
  }
  .border-right{
    border:0;
  }
}

@media only screen and (max-width: 700 px){
  #navbar nav a{
    display: none;
  }
  #navbar nav a.menu-icon{
    display:block;
    float:right;
    font-size:1.5em;
    passing:10px 20px;
    width: auto;

  }
  *logo{
    padding: 60px 0 0;
  }
  *social{
    top:60px
  }
}
