
@media only screen and (max-width: 1108 px){
  .wrapper{
    width:90%
  }
  *social{
    position: absolute;
    top: 82px
    right:4%;
    width: auto;

  }
  *social a{
    display: inline-block;
  }
}

media only screen and (max-width: 900 px){
  bpdy{
    font-size: 85%
  }
  *logo h1{
    width: 35px;
    height: 35px;
  }
}
